@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,700&family=Roboto+Condensed:wght@400;700&display=swap');

/* General rules */

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.logo {
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
}


/* Navbar */

.navbar-brand {
    font-family: 'Merriweather', sans-serif;
    border-right: none;
}


/* overwrite bootswatch inherit styles for navbar */
.navbar .nav-link {
    border-left: none;
    border-right: none;
}

.navbar .nav-link:focus, .navbar .nav-link:hover {
    background-image: none;
    border-left: none;
}

.nav-item{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

/* Footer */

.social-link:hover {
    color: #fff;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.social-link {
    text-decoration: none;
    color: #7a8288;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/* Movie Card */

.movie-card {
    max-width: 300px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.movie-card img {
    transition: all linear 0.25s;
}

.movie-card .movie-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.movie-card .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.movie-card .movie-director {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.movie-card .profile-icons .fa {
    margin: 5px;
}

.movie-card:hover img {
    filter: grayscale(100%);
}

.movie-card:hover .movie-name {
    bottom: 80px;
}

.movie-card:hover .movie-director {
    bottom: 60px;
}

.movie-card:hover .profile-icons {
    right: 40px;
}