@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,700&family=Roboto+Condensed:wght@400;700&display=swap');

/* General rules */

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(39 43 48);
}

/* logo/brand */

.logo {
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
}

/* page margins */

.page-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* headings */

h1,h2,h3,h4,h5{
    color: #fff;
    text-shadow: 0.075em 0.08em 0.1em rgb(0 0 0);
    font-weight: 700;
}

/* links */

.username-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 700;
    text-shadow: 0.075em 0.08em 0.1em rgb(0 0 0);
}

.sign-up-invite {
    margin-top: 10px;
    font-size: smaller;
}

/* buttons */

.btn {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0.075em 0.08em 0.1em rgb(0 0 0);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-color: transparent;
}

.btn-sm {
    font-size: 0.8rem;
}

.form-button-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* pagination */

.pagination {
    margin-top: 20px;
}


/* Navbar */

.navbar-brand {
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
    border-right: none;
    text-shadow: 0.075em 0.08em 0.1em rgb(0 0 0);
}


/* overwrite bootswatch inherit styles for navbar */
.navbar .nav-link {
    text-shadow: 0.075em 0.08em 0.1em rgb(0 0 0);
    border-left: none;
    border-right: none;
}

.navbar .nav-link:focus, .navbar .nav-link:hover {
    background-image: none;
    border-left: none;
}

.nav-item{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

/* search bar */

/* search bar in nav */

.search-box {
    display: inline-block;
    border-radius: 3px;
    position: relative;
    background: #fff;
}

.search-input {
    height: 40px;
}

/* search bar on page content */

.search-box-page {
    margin-top: 10px;
    margin-bottom: 20px;
}

.search-box-input {
    border: none;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-cancel-button{
    display: none;
}

.search-box .search-btn {
    position: absolute;
    right: 2px;
    top: -7px;
    bottom: -2px;
    color: #aaa;
    border-radius: 3px;
    padding: 5px 10px 1px;
    /* override button stylings */
    text-shadow: none;
    box-shadow: none;
}

/* override general button stylings for search bar */
.search-box .search-btn:active .search-btn:focus .search-btn:focus-visible {
    outline: none;
}

.btn:focus, .btn:hover, .btn:not([disabled]):not(.disabled).active:hover,
.btn:not([disabled]):not(.disabled):active,
.btn:not([disabled]):not(.disabled):active:hover {
    border-color: transparent;
}

/* Footer */

.social-link:hover {
    color: #fff;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.social-link {
    text-decoration: none;
    color: #7a8288;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/* Index page */

.jumbotron {
    background-image: url("/images/collage_alt_3.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0px 0px 20px 19px rgb(39 43 48);
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jumbotron-logo {
    font-family: 'Merriweather', sans-serif;
    text-shadow: 0.075em 0.08em 0.1em rgb(0 0 0);
    text-align: center;
    color: #fff;
    font-size: 3rem;
}

.jumbotron-tagline {
    text-shadow: 0.075em 0.08em 0.1em rgb(0 0 0);
    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

/* Movie Card */

.movie-card {
    max-width: 200px;
    height: 250px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.movie-card-img-container {
    width: 100%;
    height: 100%;
}

.movie-card img {
    width: 100%;
    height: 100%;
    transition: all linear 0.25s;
}

.movie-card .movie-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.movie-card .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.movie-card .movie-director {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.movie-card .profile-icons .fa {
    margin: 5px;
}

.movie-card:hover img {
    filter: grayscale(100%);
}

.movie-card:hover .movie-name {
    bottom: 80px;
}

.movie-card:hover .movie-director {
    bottom: 60px;
}

.movie-card:hover .profile-icons {
    right: 40px;
}

/* new movie */

#fileImage {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* single movie */

.movie-year {
    font-size: 1.5rem;
}

.movie-review-body {
    padding: 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: rgb(132 139 145);
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
}

/* single review */

.movie-info {
    margin: auto;
    text-align: center;
}

.review-img-container {
    max-width: 150px;
    height: 200px;
    margin: auto;
}

.review-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.review-heading {
    color: #fff;
    text-shadow: 0.075em 0.08em 0.1em rgb(0 0 0);
    font-weight: 700;
    font-size: 1.5rem;
}

.review-heading-title {
    font-size: 1.75rem;
    font-style: italic;
    text-decoration: none;
}

.entity-content {
    font-size: 1.2rem;
    color: #e9ecef;
}

.review-rating {
    font-style: italic;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
}

.review-likes {
    color: white;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
}

.review-movie-attribute-container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
}

.review-movie-attribute {
    margin-bottom: 5px;
}

.comment-container {
    margin-top: 20px;
}

.comment-body {
    padding: 10px;
    color: #3a3f44;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
}

.comment-time {
    text-align: end;
}

.new-comment {
    margin-bottom: 5px;
}

/* multiple reviews list */

.review-heading-link {
    text-decoration: none;
}

/* User page */

.tab-pane {
    padding-top: 20px;
}