<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>reViewer Homepage</title>
</head>
<body>
    <div class="container">
        <div align="center">
            <div>
                <h1>reViewer HomePage</h1>
            </div>

            <div>
                <h3><a th:href="@{/register}">Register</a></h3>
                <h3><a th:href="@{/login}">Login</a></h3>
                <h3><a th:href="@{/list_users}">List All Users</a></h3>
                <h3><a th:href="@{/movies}">List All Movies</a></h3>
            </div>
        </div>
    </div>

</body>
</html>