<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="fragments.html :: html_head">
</head>
<body>
    <nav th:replace="fragments :: navbar">
        Static Navbar
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container page-container">
            <div class="row">
                <div sec:authorize="isAnonymous()" class="jumbotron-tagline col-12">
                    <div>
                        Movie Obsessed?
                        <br>
                        Join the Club
                        <br>
                        <a type="button" th:href="@{/register}" class="btn btn-success btn-lg text-uppercase">Sign Up!</a>
                        <br>
                        or Login
                        <br>
                        <a type="button" th:href="@{/login}" class="btn btn-success btn-lg text-uppercase">Login</a>
                    </div>
                </div>
                <div sec:authorize="isAuthenticated()" class="jumbotron-tagline col-12">
                    <div>
                        Start Browsing, Logging and Discussing!
                        <br>
                        <a type="button" th:href="@{/movies}" class="btn btn-success btn-lg text-uppercase">Let's Go!</a>
                    </div>
                </div>
                <div class="jumbotron-logo col-12">
                    <div class="logo">re:Viewer <i class="fa fa-film"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div align="center">

            <div>
                <h1>reViewer HomePage</h1>
            </div>

            <div>
                <h3><a th:href="@{/register}">Register</a></h3>
                <h3><a th:href="@{/login}">Login</a></h3>
                <h3><a th:href="@{/list_users}">List All Users</a></h3>
                <h3><a th:href="@{/movies}">List All Movies</a></h3>
                <h3><a th:href="@{/reviews}">List All Reviews</a></h3>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer">Static Footer</div>

    <th:block th:insert="fragments :: scripts">
    </th:block>

</body>
</html>