<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="fragments.html :: html_head">
</head>
<body>
<nav th:replace="fragments :: navbar">
</nav>
    <div class="container">
        <div align="center">
            <h1>Movie Manager</h1>
            <a href="new_movie">Create new Movie entry</a>
            <br>
            <table class="table table-hover" border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>Movie ID</th>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Genre</th>
                        <th>Director</th>
                        <th>Synopsis</th>
                        <th>Poster</th>
                        <th>Reviews</th>
                        <th sec:authorize="hasAnyAuthority('ADMIN')">Actions</th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="movie : ${listMovies}">
                <tr >
                        <td>[[${movie.movieID}]]</td>
                        <td><a th:href="@{/movie/{id}(id=${movie.movieID})}">[[${movie.title}]]</a></td>
                        <td>[[${movie.year}]]</td>
                        <td>[[${movie.genre}]]</td>
                        <td>[[${movie.director}]]</td>
                        <td>[[${movie.synopsis}]]</td>
                        <td><img th:src="@{${movie.posterImagePath}}" height="50" width="50" alt=""></td>
                        <td>[[${#lists.size(movie.reviews)}]]</td>
                        <td sec:authorize="hasAnyAuthority('ADMIN')">
                            <a th:href="@{/edit_movie/{id}(id=${movie.movieID})}"
                               href="">Edit</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a th:href="@{'/delete_movie/' + ${movie.movieID}}" href="">Delete</a>
                        </td>


                    </tr>
                </th:block>
                </tbody>
            </table>
            <div>
                Total Items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]
                <br>

                <a th:if="${currentPage > 1}" th:href="@{'/movies/1'}" >First</a>
                <span th:unless="${currentPage > 1}" th:href="@{movies}">First</span>
                <a th:if="${currentPage > 1}" th:href="@{${currentPage - 1}}" href="">Previous</a>
                <span th:each="i:${#numbers.sequence(1, totalPages)}">
                    <a th:if="${i != currentPage}" th:href="@{'/movies/{pageNo}'(pageNo=${i})}">[[${i}]]</a>
                    <span th:unless="${i != currentPage}">[[${i}]]</span>
                </span>

                <a th:if="${currentPage < totalPages}" th:href="@{'/movies/' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
                <a th:if="${currentPage < totalPages}" th:href="@{'/movies/' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>

            </div>

            <div>
                <a th:href="@{new_review}">Create new Review entry</a>
            </div>

            <th:block th:each="movie : ${listMovies}">

                <div class="movie-card">
                    <div th:unless="${movie.posterImagePath == null || movie.posterImagePath.isBlank()}">
                        <img th:src="@{${movie.posterImagePath}}" class="img img-responsive">
                    </div>
                    <div th:if="${movie.posterImagePath == null || movie.posterImagePath.isBlank()}">
                        <img th:src="@{images/popcorn.jpg}" class="img img-responsive">
                    </div>


                    <div class="movie-name">[[${movie.title}]] <span>[[${movie.year}]]</span></div>
                    <div class="movie-director">[[${movie.director}]]</div>
                    <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                    <a th:href="@{/movie/{id}(id=${movie.movieID})}" class="stretched-link"></a>
                </div>

            </th:block>
        </div>
    </div>

    <div th:replace="fragments :: footer">Static Footer</div>

    <th:block th:insert="fragments :: scripts">
    </th:block>

</body>
</html>