<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="fragments.html :: html_head">
</head>
<body>
<nav th:replace="fragments :: navbar">
</nav>
    <div class="container page-container">
        <div align="center">
            <h1>Movie Manager</h1>
            <a th:href="@{/new_movie/}">Create new Movie entry</a>
            <br>
            <table class="table table-hover" border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>Movie ID</th>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Genre</th>
                        <th>Director</th>
                        <th>Poster</th>
                        <th>Reviews</th>
                        <th sec:authorize="hasAnyAuthority('ADMIN')">Actions</th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="movie : ${listMovies}">
                <tr >
                        <td>[[${movie.movieID}]]</td>
                        <td><a th:href="@{/movie/{id}(id=${movie.movieID})}">[[${movie.title}]]</a></td>
                        <td>[[${movie.year}]]</td>
                        <td>[[${movie.genre}]]</td>
                        <td>[[${movie.director}]]</td>
                        <td><img th:src="@{${movie.posterImagePath}}" height="50" width="50" alt=""></td>
                        <td>[[${#lists.size(movie.reviews)}]]</td>
                        <td sec:authorize="hasAnyAuthority('ADMIN')">
                            <a th:href="@{/edit_movie/{id}(id=${movie.movieID})}"
                               href="">Edit</a>
                            <a th:href="@{/delete_movie/{id}(id=${movie.movieID})}" href="">Delete</a>
                        </td>


                    </tr>
                </th:block>
                </tbody>
            </table>
            <div>
                Total Items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]
                <br>
                <!-- First -->
                <a th:if="${currentPage > 1}" th:href="@{'/movies/1'}" >First</a>
                <span th:unless="${currentPage > 1}" th:href="@{movies}">First</span>
                <!-- Previous -->
                <a th:if="${currentPage > 1}" th:href="@{${currentPage - 1}}">Previous</a>
                <span th:unless="${currentPage > 1}" >Previous</span>
                <!-- Pages -->
                <span th:each="i:${#numbers.sequence(1, totalPages)}">
                    <a th:if="${i != currentPage}" th:href="@{'/movies/{pageNo}'(pageNo=${i})}">[[${i}]]</a>
                    <span th:unless="${i != currentPage}">[[${i}]]</span>
                </span>

                <!-- Next -->
                <a th:if="${currentPage < totalPages}" th:href="@{'/movies/' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
                <!-- Last -->
                <a th:if="${currentPage < totalPages}" th:href="@{'/movies/' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>

            </div>

            <div class="row justify-content-center text-center" >

                    <div class='search-box search-box-page col-8 col-sm-8 col-md-6 col-lg-4 '>
                        <form class='search-form' th:action="@{/searchMovies}" method="get"  >
                            <input class='form-control search-input search-box-input' placeholder='search movies' type='search' name="keyword" required>
                            <button class='btn btn-link search-btn'>
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>

            </div>

            <div class="row justify-content-center text-center">

                <th:block th:each="movie : ${listMovies}">

                    <div class="col-sm-12 col-md-4 col-lg-3">

                        <div class="movie-card">
                            <div class="movie-card-img-container"
                                    th:unless="${movie.posterImagePath == null || movie.posterImagePath.isBlank()}">
                                <img th:src="@{${movie.posterImagePath}}" class="img img-responsive">
                            </div>
                            <div th:if="${movie.posterImagePath == null || movie.posterImagePath.isBlank()}">
                                <img th:src="@{images/popcorn.jpg}" class="img img-responsive">
                            </div>
                            <a th:href="@{/movie/{id}(id=${movie.movieID})}" class="stretched-link"></a>
                        </div>

                    </div>
                </th:block>
            </div>
            <!-- pagination controls -->
            <div class="row">

                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                        <!-- first -->
                        <li th:if="${currentPage > 1}" class="page-item">
                            <a class="page-link" th:href="@{'/movies/1'}">First</a>
                        </li>
                        <li th:unless="${currentPage > 1}" class="page-item disabled">
                            <a class="page-link" th:href="@{'/movies/1'}">First</a>
                        </li>
                        <!-- previous -->
                        <li th:if="${currentPage > 1}" class="page-item">
                            <a class="page-link" th:href="@{${currentPage - 1}}">Previous</a>
                        </li>
                        <li th:unless="${currentPage > 1}" class="page-item disabled">
                            <a class="page-link" href="#">Previous</a>
                        </li>

                        <!-- page numbers -->
                        <th:block th:each="i:${#numbers.sequence(1, totalPages)}">
                            <li th:if="${i != currentPage}" class="page-item">
                                <a class="page-link" th:href="@{'/movies/{pageNo}'(pageNo=${i})}">[[${i}]]</a>
                            </li>
                            <li th:unless="${i != currentPage}" class="page-item active disabled">
                                <a class="page-link" >[[${i}]]</a>
                            </li>
                        </th:block>

                        <!-- next -->
                        <li th:if="${currentPage < totalPages}" class="page-item ">
                            <a class="page-link" th:href="@{'/movies/' + ${currentPage + 1}}">Next</a>
                        </li>
                        <li th:unless="${currentPage < totalPages}" class="page-item disabled">
                            <a class="page-link" href="#">Next</a>
                        </li>

                        <!-- last -->
                        <li th:if="${currentPage < totalPages}" class="page-item">
                            <a class="page-link" th:href="@{'/movies/' + ${totalPages}}">Last</a>
                        </li>
                        <li th:unless="${currentPage < totalPages}" class="page-item disabled">
                            <a class="page-link">Last</a>
                        </li>
                    </ul>
                </div>
                <div class="movies-info text-center">
                    Total Items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer">Static Footer</div>

    <th:block th:insert="fragments :: scripts">
    </th:block>

</body>
</html>