<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="fragments.html :: html_head">
</head>
<body>
    <nav th:replace="fragments :: navbar">
        Static Navbar
    </nav>
    <div class="container page-container">
        <!-- alert container -->
        <div class="alert alert-dismissible alert-success" role="alert" th:text="${success}" th:if="${success}">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>

        <!-- MOVIE -->
        <div class="entity-container">
            <div class="row">
                <div class=" col-5 col-lg-3 offset-lg-2">
                    <div class="movie-info">
                        <!-- movie image -->
                        <div class="review-img-container ">
                            <img th:src="@{${movie.posterImagePath}}" class="img review-img">

                        </div>
                        <div class="review-movie-attribute-container">
                            <p class="review-movie-attribute">Year: [[${movie.year}]]</p>
                            <p class="review-movie-attribute">Genre: [[${movie.genre}]]</p>
                            <p class="review-movie-attribute">Director: [[${movie.director}]]</p>
                            <p class="review-movie-attribute">re:Viewer rating: [[${movie.avgRating}]]</p>
                        </div>
                        <!-- if user is NOT authenticated, disable buttons -->
                        <div sec:authorize="isAnonymous()">
                            <div class="btn-group" role="group" aria-label="Movie List Buttons Disabled" >
                                <button type="button" class="btn btn-sm btn-success disabled">
                                    <span class="d-none d-sm-inline">Seen</span> <i class="fas fa-eye"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-info disabled">
                                    <span class="d-none d-sm-inline">Fave</span> <i class="fas fa-heart"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-warning disabled">
                                    <span class="d-none d-sm-inline">Watch</span> <i class="fas fa-clipboard-list"></i>
                                </button>
                            </div>
                            <p class="text-muted sign-up-invite">
                                <a th:href="@{/login}">Sign In</a> or <a th:href="@{/register}">Register</a> to use these features!
                            </p>
                        </div>
                        <!-- if user IS authenticated, buttons are available for interaction -->
                        <div class="btn-group" role="group" aria-label="Movie List Buttons" sec:authorize="isAuthenticated()">
                            <form th:action="@{/save_seen/{id}(id=${movie.movieID})}" method="post">
                                <button type="submit" class="btn btn-sm btn-success">
                                    <span class="d-none d-sm-inline">Seen</span> <i class="fas fa-eye"></i>
                                </button>
                            </form>
                            <form th:action="@{/save_favourite/{id}(id=${movie.movieID})}" method="post">
                                <button type="submit" class="btn btn-sm btn-info">
                                    <span class="d-none d-sm-inline">Fave</span> <i class="fas fa-heart"></i>
                                </button>
                            </form>
                            <form th:action="@{/save_want/{id}(id=${movie.movieID})}" method="post">
                                <button type="submit" class="btn btn-sm btn-warning">
                                    <span class="d-none d-sm-inline">Watch</span> <i class="fas fa-clipboard-list"></i>
                                </button>
                            </form>
                        </div>

                    </div>
                </div>

                <div class=" col-7 col-lg-5">
                    <!-- movie content -->
                    <h2>[[${movie.title}]]</h2>
                    <span class="movie-year">[[${movie.year}]]</span>
                    <hr>
                    <p class="entity-content">[[${movie.synopsis}]]</p>
                    <p class="review-rating">Rating: [[${movie.avgRating}]] out of 5</p>
                    <hr>
                    <p class="review-likes"><small>No of Faves could go here</small> <i class="fas fa-thumbs-up"></i></p>
                    <div>
                        <form th:action="@{/save_favourite/{id}(id=${movie.movieID})}" method="post">
                            <div sec:authorize="isAnonymous()">
                                <button type="submit" class="btn btn-success btn-sm disabled" >Like Review <i class="far fa-thumbs-up"></i></button>
                                <p class="text-muted sign-up-invite">
                                    <a th:href="@{/login}">Sign In</a> or <a th:href="@{/register}">Register</a> to add movies as favourite!
                                </p>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success btn-sm" sec:authorize="isAuthenticated()">Fave</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- review container -->
        <div class="comment-container">
            <div class="row">

                <!-- reviews -->
                <div class="col-12 col-lg-6 offset-lg-3">
                    <p class="text-center">
                        There are [[${#lists.size(movie.reviews)}]] reviews on this movie
                    </p>
                    <hr>
                    <div th:each="review : ${reviewList}">


                        <span>
                            <a class="username-link" th:href="@{/user/{id}(id=${review.user.userID})}">
                                [[${review.user.userName}]]

                            </a>
                            <em>'s review: </em>
                        </span>

                        <div class="movie-review-body">
                            <span>
                                <i class="fas fa-quote-left"></i>
                                [[${review.content}]]
                                <i class="fas fa-quote-right"></i>
                            </span>
                        </div>
                        <p>rating: [[${review.rating}]] out of 5</p>
                        <p>
                            <span>[[${#lists.size(review.comments)}]] <i class="fas fa-comment-alt"></i></span>
                            &nbsp;&nbsp;&nbsp;
                            <span>[[${#lists.size(review.reviewLikes)}]] <i class="fas fa-thumbs-up"></i></span>
                        </p>
                        <a th:href="@{/review/{id}(id=${review.reviewID})}">View and comment on this review here</a>
                        <div class="comment-time">[[${#dates.format(review.createdAt, 'HH:mm dd-MM-yyyy')}]]</div>
                        <hr>
                    </div>
                </div>

                <!-- comment form -->
                <div class="col-12 col-lg-6 offset-lg-3">
                    <!-- if user is logged in, show form -->
                    <div class="comment-form" sec:authorize="isAuthenticated()">
                        <a th:href="@{/new_review/{id}(id=${movie.movieID})}" class="card-link">Review This Movie!</a>
                    </div>
                    <!-- if user is not logged in or registered, show the following form -->
                    <div class="comment-form" sec:authorize="isAnonymous()">
                        <p>Want to review this movie? Simply <a th:href="@{/login}">Sign In</a> or <a th:href="@{/register}">Register</a> to have your say!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer">Static Footer</div>

    <th:block th:insert="fragments :: scripts">
    </th:block>

</body>
</html>