<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Registration Success</title>
</head>
<body>
    <div class="container">
        <div align="center">
            <div>
                <h3>You have signed up successfully!</h3>
                <h4><a th:href="@{/login}">Click here to login</a></h4>
            </div>


        </div>
    </div>

</body>
</html>