<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="fragments.html :: html_head">
</head>
<body>
    <nav th:replace="fragments :: navbar">
        Static Navbar
    </nav>
    <div class="container page-container">
        <div align="center">
            <h3>Reset Password</h3>
            <div class="row">
                <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-4 offset-lg-4">

                    <div>
                        <p class="text-danger">[[${message}]]</p>
                    </div>
                    <div th:if="${message != null}">
                        <p class="text-success">[[${message}]]</p>
                    </div>
                    <form th:action="@{/reset_password}" method="post">
                        <input type="hidden" name="token" th:value="${token}">
                        <div class="form-group">
                            <label for="password" class="form-label mt-4">New Password</label>
                            <input type="password" name="password" class="form-control" id="password"
                                   placeholder="Enter new password" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword" class="form-label mt-4">Confirm Password</label>
                            <input type="password" name="confirmPassword" class="form-control" id="confirmPassword"
                                   placeholder="Confirm new password" required oninput="checkPasswordMatch(this);">
                        </div>
                        <div class="form-button-container">
                            <input type="submit" value="Change Password" class="btn btn-success"></input>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>

    <div th:replace="fragments :: footer">Static Footer</div>

    <th:block th:insert="fragments :: scripts">
    </th:block>

</body>
</html>