<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="fragments.html :: html_head">
</head>
<body>
    <nav th:replace="fragments :: navbar">
        Static Navbar
    </nav>
    <div class="container page-container">
        <div class="alert alert-dismissible alert-success" role="alert" th:text="${success}" th:if="${success}">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        <!-- review -->
        <div class="review-container">
            <div class="row">
                <div class=" col-5 col-lg-3 offset-lg-2">
                    <div class="movie-info">
                        <!-- review image -->
                        <div class="review-img-container ">
                            <a th:href="@{/movie/{id}(id=${review.movie.movieID})}" >
                            <img th:src="@{${review.movie.posterImagePath}}" class="img review-img">
                            </a>
                        </div>
                        <div class="review-movie-attribute-container">
                            <p class="review-movie-attribute">Year: [[${review.movie.year}]]</p>
                            <p class="review-movie-attribute">Genre: [[${review.movie.genre}]]</p>
                            <p class="review-movie-attribute">Director: [[${review.movie.director}]]</p>
                            <p class="review-movie-attribute">re:Viewer rating: [[${review.movie.avgRating}]]</p>
                        </div>
                        <!-- if user is NOT authenticated, disable buttons -->
                        <div sec:authorize="isAnonymous()">
                            <div class="btn-group" role="group" aria-label="Basic example" >
                                <button type="button" class="btn btn-sm btn-success disabled"><span class="d-none">Seen</span> <i class="fas fa-eye"></i></button>
                                <button type="button" class="btn btn-sm btn-info disabled"><span class="d-none">Fave</span> <i class="fas fa-heart"></i></button>
                                <button type="button" class="btn btn-sm btn-warning disabled"><span class="d-none">Watch</span> <i class="fas fa-clipboard-list"></i></button>
                            </div>
                            <p class="text-muted sign-up-invite">
                                <a th:href="@{/login}">Sign In</a> or <a th:href="@{/register}">Register</a> to use these features!
                            </p>
                        </div>
                        <!-- if user IS authenticated, buttons are available for interaction -->
                        <div class="btn-group" role="group" aria-label="Basic example" sec:authorize="isAuthenticated()">
                            <button type="button" class="btn btn-sm btn-success"><span class="d-none">Seen</span> <i class="fas fa-eye"></i></button>
                            <button type="button" class="btn btn-sm btn-info"><span class="d-none">Fave</span> <i class="fas fa-heart"></i></button>
                            <button type="button" class="btn btn-sm btn-warning"><span class="d-none">Watch</span> <i class="fas fa-clipboard-list"></i></button>
                        </div>

                    </div>
                </div>

                <div class=" col-7 col-lg-5">
                    <!-- review content -->
                    <span class="review-heading">Review of
                        <span >
                            <a class="review-heading-title" th:href="@{/movie/{id}(id=${review.movie.movieID})}" >
                                [[${review.movie.title}]]
                            </a>
                        </span>
                    </span>
                    <p>by
                        <a class="username-link" th:href="@{/user/{id}(id=${review.user.userID})}">
                            [[${review.user.userName}]]
                        </a>
                    </p>
                    <hr>
                    <p class="entity-content">[[${review.content}]]</p>
                    <p class="review-rating">Rating: [[${review.rating}]] out of 5</p>
                    <hr>
                    <p class="text-muted">
                        <small>posted: [[${#dates.format(review.createdAt, 'HH:mm dd-MM-yyyy')}]]</small>
                    </p>
                    <div>
                        <form th:action="@{/like_review/{id}(id=${review.reviewID})}" method="post">
                            <div sec:authorize="isAnonymous()">
                                <button class="btn btn-success btn-sm disabled" >Like Review <i class="far fa-thumbs-up"></i></button>
                                <button class="btn btn-success btn-sm disabled">
                                    [[${#lists.size(review.reviewLikes)}]]
                                    <i class="fas fa-thumbs-up"></i>
                                </button>
                                <p class="text-muted sign-up-invite">
                                    <a th:href="@{/login}">Sign In</a> or <a th:href="@{/register}">Register</a> to like a review!
                                </p>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success btn-sm" sec:authorize="isAuthenticated()">Like Review</button>
                                <button type="submit" class="btn btn-success btn-sm" sec:authorize="isAuthenticated()">
                                    [[${#lists.size(review.reviewLikes)}]]
                                    <i class="fas fa-thumbs-up"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- review comments -->
        <div class="comment-container">
            <div class="row">

                <!-- comments -->
                <div class="col-12 col-lg-6 offset-lg-3">
                    <p class="text-center">
                        There are [[${#lists.size(review.comments)}]] comments on this review
                    </p>
                    <hr>
                    <!-- comments list loop -->
                    <div th:each="c : ${#lists.sort(commentList)}">
                        <span>
                            <a class="username-link" th:href="@{/user/{id}(id=${c.user.userID})}">
                                [[${c.user.userName}]]
                            </a>
                            <em>commented:</em>
                        </span>

                        <div class="comment-body bg-light">
                            <span>[[${c.text}]]</span>
                        </div>
                        <form th:action="@{/like_comment/{id}(id=${c.commentID})}" method="post">
                            <div class="comment-like">
                                <!-- if user is NOT authenticated, button is disabled -->
                                <button class="btn btn-success btn-sm disabled" sec:authorize="isAnonymous()">
                                    [[${#lists.size(c.commentLikes)}]] <i class="fas fa-thumbs-up"></i>
                                </button>
                                <!-- if user IS authenticated, button is available for interaction -->
                                <button type="submit" class="btn btn-success btn-sm" sec:authorize="isAuthenticated()">
                                    [[${#lists.size(c.commentLikes)}]] <i class="fas fa-thumbs-up"></i>
                                </button>
                            </div>
                        </form>
                        <div class="comment-time">
                            <span >[[${#dates.format(c.createdAt, 'HH:mm dd-MM-yyyy')}]]</span>
                        </div>
                        <hr>
                    </div>
                </div>

                <!-- comment form -->
                <div class="col-12 col-lg-6 offset-lg-3">
                    <!-- if user is logged in, show form -->
                    <div class="comment-form" sec:authorize="isAuthenticated()">
                        <form th:action="@{/save_comment/{id}(id=${review.reviewID})}" th:object="${newComment}" method="post">
                            <div class="form-group" >
                                <label for="exampleTextarea" class="form-label mt-4" >Leave a comment: </label>
                                <textarea class="form-control new-comment" id="exampleTextarea" rows="3" th:field="*{text}" required></textarea>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- if user is not logged in or registered, show the following form -->
                    <div class="comment-form" sec:authorize="isAnonymous()">
                        <p>Want to add your opinion? Simply <a th:href="@{/login}">Sign In</a> or <a th:href="@{/register}">Register</a> to have your say!</p>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div th:replace="fragments :: footer">Static Footer</div>

    <th:block th:insert="fragments :: scripts">
    </th:block>

</body>
</html>