<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="fragments.html :: html_head">
</head>
<body>
    <nav th:replace="fragments :: navbar">
        Static Navbar
    </nav>
    <div class="container">
        <div align="center">
            <div th:if="${review.reviewID == null}">
                <h1>Create New Review</h1>
            </div>
            <div th:unless="${review.reviewID == null}">
                <h1>Edit Review</h1>
            </div>
                <br>
            <form action="#" th:action="@{/save_review/{id}(id=${movie.movieID})}" th:object="${review}" method="post">
                <table border="0" cellpadding="10">
                    <tr>
                    </tr>
                    <tr>
                        <td>Review: </td>
                        <td><input type="text" th:field="*{content}"></td>
                    </tr>
                    <tr>
                        <td>Rating: </td>
                        <td><input type="number" name="quantity" min="1" max="5" th:field="*{rating}"></td>
                    </tr>
                    <tr>

                    </tr>
                    <tr>
                        <td colspan="2"><button class="btn btn-success" type="submit">Save</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <div th:replace="fragments :: footer">Static Footer</div>

    <th:block th:insert="fragments :: scripts">
    </th:block>

</body>
</html>