<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="fragments.html :: html_head">
</head>
<body>
    <nav th:replace="fragments :: navbar">
        Static Navbar
    </nav>
    <div class="container">
        <div align="center">
            <h1>Review Manager</h1>
            <br>
            <table border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>Review ID</th>
                        <th>Movie</th>
                        <th>Review</th>
                        <th>User</th>
                        <th>Rating</th>
                        <th>Date Created</th>
                        <th>Comments</th>
                        <th sec:authorize="hasAnyAuthority('ADMIN')">Actions</th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="review : ${listReviews}">
                <tr>
                    <td><a th:href="@{/review/{id}(id=${review.reviewID})}">[[${review.reviewID}]]</a></td>
                    <td><a th:href="@{/movie/{id}(id=${review.movie.movieID})}">[[${review.movie.title}]]</a></td>
                    <td>[[${review.content}]]</td>
                    <td><a th:href="@{/user/{id}(id=${review.user.userID})}">[[${review.user.userName}]]</a></td>
                    <td>[[${review.rating}]]</td>
                    <td>[[${review.createdAt}]]</td>
                    <td>[[${#lists.size(review.comments)}]]</td>
                    <td sec:authorize="hasAnyAuthority('ADMIN')">
                            <a th:href="@{'/edit_review/' + ${review.reviewID}}">Edit</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a th:href="@{'/delete_review/' + ${review.reviewID}}">Delete</a>
                    </td>
                </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="fragments :: footer">Static Footer</div>

    <th:block th:insert="fragments :: scripts">
    </th:block>

</body>
</html>