<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Registration</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">re:Viewer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div align="center">
            <div>
                <h1>User Registration</h1>
            </div>

            <form th:action="@{/process_registration}" method="post"
                  style="max-width: 600px; margin: 0 auto"
                  th:object="${user}">
                <div class="m-3">
                    <div class="form-group row">
                        <label class="col-form-label col-4" >Email</label>
                        <div class="col-8">
                            <input type="email" th:field="*{emailAddress}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4">Password</label>
                        <div class="col-8">
                            <input type="password" th:field="*{password}" minlength="6" maxlength="20" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4">Username</label>
                        <div class="col-8">
                            <input type="text" th:field="*{userName}"
                                   minlength="2" maxlength="20"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4">Avatar</label>
                        <div class="col-8">
                            <input type="text" th:field="*{avatar}" disabled>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.0.2/js/bootstrap.min.js}"></script>

</body>
</html>