<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="fragments.html :: html_head">
</head>
<body>
    <nav th:replace="fragments :: navbar">
        Static Navbar
    </nav>
    <div class="container">
        <div align="center">

            <div>
                <h1>Welcome to User Profile</h1>
            </div>

            <div >
                <h5>Current User Object Test</h5>
                <ul>
                    <li>UserID: <span> [[${currentUser.sessionUserID}]]</span> </li>
                    <li>Username: <span> [[${currentUser.sessionName}]]</span></li>
                    <li>Email: <span> [[${currentUser.username}]]</span></li>
                    <li>Avatar: </li>
                    <li>Role: </li>
                </ul>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer">Static Footer</div>

    <th:block th:insert="fragments :: scripts">
    </th:block>

</body>
</html>