<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="fragments.html :: html_head">
</head>
<body>
    <nav th:replace="fragments :: navbar">
        Static Navbar
    </nav>
    <div class="container">
        <div align="center">

            <div th:object="${user}">
                <h1>Welcome to [[${user.userName}]]'s Profile</h1>
            </div>

            <div th:object="${user}">
                <h5>Current User Object Test</h5>
                <ul>
                    <li>UserID: </li>
                    <li>Username: <span> [[${user.userName}]]</span></li>
                    <li>Email: <span> [[${user.emailAddress}]]</span></li>
                    <li>Avatar: </li>
                    <li>Movies Reviewed:
                        <div th:each="review: ${reviewList}">
                            <span th:href="@{/new_review/{id}(id=${review.movie.movieID})}"> [[${review.movie.title}]]</span>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer">Static Footer</div>

    <th:block th:insert="fragments :: scripts">
    </th:block>

</body>
</html>