<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>All Users</title>
</head>
<body>
    <div class="container">
        <div align="center">
            <div sec:authorize="isAuthenticated()">
                Test welcome with "name": <span sec:authentication="name"></span>
                <br>
                Test principal.sessionName: <span sec:authentication="principal.sessionName">Username</span>
                &nbsp; <span sec:authentication="principal.authorities">Roles</span>
            </div>
            <div>
                <form th:action="@{/logout}" method="post">
                    <p>
                        Welcome <b>[[${#request.userPrincipal.principal.sessionName}]]</b>
                    </p>
                    <input type="submit" value="Sign Out">
                </form>
            </div>

            <div>
                <h1>List of All Users</h1>
            </div>
            <div>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>User ID</th>
                            <th>Email Address</th>
                            <th>Username</th>
                            <th>Avatar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user: ${listUsers}">
                            <td th:text="${user.userID}">User ID</td>
                            <td th:text="${user.emailAddress}">Email Address</td>
                            <td th:text="${user.userName}">Username</td>
                            <td th:text="${user.avatar}">Avatar</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</body>
</html>